/* body */
.form-container {
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.form-container h2 {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.form-container .content {
  display: flex;
  flex-direction: row;
  gap: 202px;
}

.form-container .someth {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 30px;
}

.someth div {
  height: 28px;
  border-radius: 14px;
  background-color: #DAE8E1;
}

.someth .small {
  width: 160px;
}

.someth .big {
  width: 349px;
}

.someth .last {
  margin-top: 27px;
}